{% extends 'base.html.twig' %}

{% block title %}ALL posts{% endblock %}

{% block body %}
  <div class="container p-3">

    <h1>ALL posts:</h1>
    {% for post in posts %}

      <div class="mb-3">
        <div class="card shadow">
          <div class="card-body">
            <h3 >{{ post.title }}</h3>



          </div>
          <div class="card-footer">
            <a class="btn btn-primary btn-sm" href="{{ path('post_show', {'id': post.id}) }}">More info</a>
            <div style="float:right">

              <p>#{{ post.id }}
                &nbsp;|
                {{ post.name }}
                &nbsp;|
                {{ post.created_at ? post.created_at|date("F j, Y, g:i a") : ' ' }}</p>

            </div>

          </div>
        </div>

      </div>
    {% else %}

      <h1>no records found</h1>

    {% endfor %}

    <li href="#" class="list-group-item text-left">
      <div class="navigation text-center">
        {{ knp_pagination_render(posts) }}
      </div>
    </li>
  </div>
{% endblock %}
